.article {
  max-width: 90%;
  margin: 0 auto;

  &__inner {
  }

  &__header {
    margin-bottom: fluid-size(65, 135)
  }

  &__title {
    margin-bottom: fluid-size(12, 35); 
    font-size: fluid-size(24, 96);
    line-height: fluid-size(29, 108);
    font-weight: 700;
    color: var(--color-title-white);
  }

  &__desc {
    margin-bottom: 45px;
    font-size: fluid-size(12, 36);
    line-height: fluid-size(17, 48);
    color: var(--color-text-white);
  }

  &__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
  }

  &__date {
    font-size: fluid-size(12, 20);
    color: var(--color-text-white);
  }

  &__breadcrumbs {
    margin-bottom: fluid-size(30, 130);

    @include media-down('md') {
      display: none;
    }
  }
}