.card {
  position: relative;
  width: 100%;
  background: linear-gradient(180deg, #5B5495 0%, #B06382 100%);
  overflow: hidden;
  flex: 50%;

  @include media-up('lg') {
    border-radius: fluid-size(30, 60, 991);
    padding: 0 35px;
  }

  @include media-down('lg') {
    flex: 50%;
    border-radius: fluid-size(20, 30, 415, 991);
  }

  &__inner {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include media-up('lg') {
      gap: fluid-size(20, 40, 991);
    }

    @include media-down('lg') {
      gap: fluid-size(20, 40, 415, 991);
    }
  }

  &__bg {
    @include media-up('lg') {
      margin: 10px;
      max-width: 95%;
      max-height: 90%;
    }
  }

  &__title {
    font-weight: 700;
    text-transform: uppercase;
    color: var(--color-title-secondary);

    @include media-up('lg') {
      font-size: fluid-size(24, 36, 991); 
    }

    @include media-down('lg') {
      font-size: fluid-size(24, 38, 415, 991); 
    }
  }

  &__network {
    display: flex;
    justify-content: center;
    width: 100%;

    @include media-up('lg') {
      gap: fluid-size(15, 40, 992);
    }

    @include media-down('lg') {
      gap: fluid-size(15, 30, 415, 991);
    }
  }

  &__link {
    color: var(--color-text-primary-700);
    cursor: pointer;

    @include media-up('lg') {
      width: fluid-size(60, 95, 991);
      height: fluid-size(60, 95, 991);
    }

    @include media-down('lg') {
      min-width: fluid-size(35, 80, 415, 991);
      height: fluid-size(35, 80, 415, 991);
    }
  }
}