.contact {
  display: inline-flex;
  align-items: center;
  gap: fluid-size(5, 8);
  text-decoration: none;
  color: #969FD8;

  &__icon {
    width: fluid-size(35, 60);
    height: fluid-size(35, 60);
  }

  &__text {
    font-size: fluid-size(20, 30);
    font-weight: 600;
  }
}