.card {
    position: relative;
    background: var(--color-bg-primary-800);
    border-radius: fluid-size(12, 30, 375, 1920);
    padding: fluid-size(12, 20, 375, 1920);
    text-decoration: none;
    background: #1F1D2E;
    border: 1px solid #D4A2F240;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;


    width: 100%;
    height: 100%;

    &:hover {
        transform: translateY(-5px);
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    }

    &__content {
        display: flex;
        flex-direction: row;
        max-width: 100%;
        overflow: hidden;
        gap: fluid-size(12, 25, 375, 1920);
        height: 100%;
        position: relative;
        align-items: stretch;

        @include media-down('sm') {
            gap: fluid-size(10, 12, 375, 576);
        }
    }

    &__image {
        flex-shrink: 0;
        overflow: hidden;
        width: fluid-size(80, 240, 375, 1920);
        height: fluid-size(80, 240, 375, 1920);
        border-radius: fluid-size(12, 15, 375, 1920);

        @include media-down('sm') {
            height: 120px;
            width: 120px;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 1;
        max-width: 60%;    
        min-height: 0;
    }

    &__text {
        display: flex;
        max-width: 100%;
        flex-direction: column;
    }

    &__title {
        color: var(--color-white);
        font-size: fluid-size(16, 36, 375, 1920);
        font-weight: 700;
        margin-bottom: fluid-size(8, 12, 375, 1920);
    }

    &__description {
        color: var(--color-white);
        font-size: fluid-size(14, 18, 375, 1920);
        text-wrap:wrap;
        opacity: 0.9;
    }

    &__select {
        position: absolute;
        bottom: fluid-size(8, 8, 375, 1920);
        right: fluid-size(8, 8, 375, 1920);
        border-radius: fluid-size(20, 30, 375, 1920);
        color: var(--color-text-black);
        align-self: flex-end;
        border: none;
        background: linear-gradient(90deg, #959FD8 0%, #D5A2F2 100%);
        transition: opacity 0.3s ease, transform 0.3s ease;
        font-weight: 600;
        cursor: pointer;
        flex-shrink: 0;
        width: fluid-size(90, 140, 375, 1920);
        height: fluid-size(30, 60, 375, 1920);
        font-size: fluid-size(12, 18, 375, 1920);

        @include media-down('sm') {
            margin-top: fluid-size(10, 12, 375, 576);
        }

        &:hover {
            opacity: 0.9;
            transform: translateY(-2px);
        }

        &:active {
            transform: translateY(0);
        }
    }
}