.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 200px;
    color: var(--color-white);
    font-size: 24px;
}

.error {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    color: var(--color-white);
    font-size: 24px;
}

.spreads {
  padding: fluid-size(20, 60, 375, 1920);
  max-width: 1920px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  @include media-down('sm') {
    padding: fluid-size(16, 20, 375, 576);
  }

  &__header {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 30px;
  }

  &__header_title {
    color: var(--color-white);
    font-size: fluid-size(16, 36);
    font-weight: 700;

    @include media-down('sm') {
      font-size: fluid-size(20, 24, 375, 576);
    }
  }

  &__header_description {
    color: var(--color-text-white);
    font-size: fluid-size(14, 32, 375, 1920);
    line-height: 150%;

    @include media-down('sm') {
      font-size: fluid-size(12, 14, 375, 576);
    }
  }

  &__content {
    
  }
}





