.hero {
  margin-bottom: 100px;
  
  &__container {
    padding: 0 130px;
  }

  &__content {
    max-width: 1000px;
  }

  &__title {
    font-size: 96px;
    font-weight: 700;
    line-height: 108px;
    color: var(--color-text-white);
    margin-bottom: 55px;
  }

  &__subtitle {
    font-size: 64px;
    font-weight: 700;
    color: var(--color-text-white);
    margin-bottom: 80px;
  }

  &__description {
    font-size: 36px;
    line-height: 43px;
    color: var(--color-text-white);
    margin-bottom: 28px;
  }

  &__buttons {
    display: flex;
    gap: 20px;
  }
}