.card {
  position: relative;
  overflow: hidden;
  flex: 50%;
  background: linear-gradient(180deg, #26233E 0%, #655DA4 100%);

  @include media-up('lg') {
    border-radius: fluid-size(30, 60, 991);
  }

  @include media-down('lg') {
    border-radius: fluid-size(20, 30, 415, 991);
  }

  &__logo {
    z-index: 1;
    object-fit: contain;

    @include media-down('lg') {
      transform: scale(85%);
    }
  }

  &__stars {
    object-fit: contain;

    @include media-up('lg') {
       max-width: 85%;
      max-height: 85%;
      margin: 8% 0 0 15%;
    }

    @include media-down('lg') {
      transform: scale(95%);
      margin: 2% 0 0 4%;
    }
  }
}