.footer {
  background: var(--color-bg-primary-900);
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;

  &__inner {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px 45px;
  }

  &__column {
    &:nth-child(1) {
      max-width: 416px;
    }

    &:nth-child(2) {
      margin-right: 5%;
      padding-top: 35px;
    }
  }

  &__logo {
    display: inline-block;
    position: relative;
    width: 87px;
    height: 65px;
    margin-bottom: 15px;

    img {
      object-fit: contain;
    }
  }

  &__text {
    line-height: 150%;
    font-size: 20px;
    margin-bottom: 45px;
    color: var(--color-text-primary-300);
  }

  &__buttons {
    display: flex;
    gap: 16px;
    margin-bottom: 33px;
  }

  &__network {
    display: flex;
    gap: 19px;
  }

  &__network_link {
    width: 44px;
    color: var(--color-primary-300);
  }

  &__nav {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__nav_title {
    font-size: 15px;
    font-weight: 700;
    color: var(--color-text-primary-300);
  }

  &__nav_link {
    text-decoration: none;
    font-size: 15px;
    color: var(--color-text-primary-300);
  }
}