.chart {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  &__content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: fluid-size(10, 50);

    @include media-down('md') {
      flex-direction: column;
      align-items: center;
    }
  }

  &__tarot {
    height: min-content;

    @include media-down('md') {
      max-width: 400px;
    }
  }

  &__interpretation {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;

    @include media-up('md') {
      max-width: 50%;
    }
  }

  &__loading {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 20px;
    height: 100%;

    &_text {
      color: white;
    }

    &_spin {
      display: block;
      width: 35px;
      height: 35px;
      border-radius: 50%;
      box-shadow: 2px 2px 1px white;
      animation: spin 1s linear infinite;

      @keyframes spin {
        from {
          transform: rotate(0deg);
        }

        to {
          transform: rotate(360deg);
        }
      }
    }
  }
}

.learnMore {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;

  &__text {
    text-align: center;
    line-height: 130%;
    font-size: fluid-size(12, 14);
    font-weight: 400;
    color: var(--color-text-white);
    opacity: 0.75;
  }
}

.newReadingButton {
  margin: fluid-size(30, 50) auto 0;
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;

  &:hover {
    transform: translateY(-2px);
  }
}
