.section {
  position: relative;
  // padding: 100px 0;

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: fluid-size(30, 95); 
    position: relative;
  }

  &__bg {
    display: block;
    position: absolute;
    width: 100%;
    height: max-content;
    z-index: -1;
    top: 0;
    left: 0;
    object-fit: cover;
    transform: translateY(calc(fluid-size(20, 35) * -1));

    @include media-up(xxxl) {
      transform: translateY(-100px);
    }
  }

  &__title {
    text-align: center;
    margin-bottom: 12px;
  }

  &__message {
    text-align: center;
    max-width: 86%;
    margin: 0 auto;
  }
}