.filters {
    display: flex;
    flex-direction: column;
    gap: fluid-size(21, 55);
    max-width: 85%;
    margin: 0 auto fluid-size(55, 190);

  &__tags {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    column-gap: fluid-size(9, 23); 
    row-gap: fluid-size(14, 40);
  }
}

  