.modal__background {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.5s;
  background: #0000009C;
}

.modal {
  border: 1px solid #D2A2F1;
  border-radius: 30px;
  background: #1F1D2E;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;

  &__head {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: fluid-size(10, 13) fluid-size(5, 15) fluid-size(10, 20);
  }

  &__content {
    width: 100%;
    height: 100%;
  }
}