@use './functions' as *;

html {
  background: var(--gradient-main);

  &.no-scroll {
    overflow: hidden;
  }
}

body {
  width: 100%;
  position: relative;
  z-index: 1;
  font-family: var(--font-geist-sans), sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: var(--gradient-main);
  overflow: hidden;

  &.no-scroll {
    position: fixed;
  }
}

main {
  flex: 1 0 auto;
}

a {
  cursor: pointer;
}

svg {
  width: 100%;
  height: 100%;
}
