  :root {
    --color-white: #fff;
    --color-black: #000;
    --color-primary-900: #1A1927;
    --color-primary-800: #272639;
    --color-primary-700: #20293D;
    --color-primary-300: #959FD8;
    --color-primary-200: #BAA1E7;
    --color-secondary: #F9DBAC;
    
    --color-title-white: var(--color-white);
    --color-title-primary: var(--color-primary-300);
    --color-title-secondary: var(--color-secondary);

    --color-text-white: var(--color-white);
    --color-text-black: var(--color-black);
    --color-text-primary-700: var(--color-primary-700);
    --color-text-primary-300: var(--color-primary-300);
    --color-text-primary: var(--color-primary-200);
    --color-text-secondary: var(--color-secondary);

    --color-bg-primary: var(--color-primary-200);
    --color-bg-primary-900: var(--color-primary-900);
    --color-bg-primary-800: var(--color-primary-800);
    --color-bg-secondary: var(--color-secondary);

    --gradient-main: linear-gradient(180deg, #05040B 0%, #272639 16.83%, #35334B 62.5%, #494766 100%);
    --gradient-btn: linear-gradient(90deg, #959FD8 0%, #D5A2F2 100%);
  }