.category {
  position: relative;
  z-index: 2;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: fluid-size(70, 155);
  width: 100%;
  max-width: max-content;
  height: fluid-size(17, 38);
  padding: 0 fluid-size(10, 15);
  text-align: center;
  border-radius: 30px;
  border: 1px solid var(--color-bg-primary);
  background: var(--gradient-btn);

  &--more {
    cursor: pointer;
    padding-right: fluid-size(18, 35);
  }

  &__text {
    font-size: fluid-size(12, 20);
    font-weight: 600;
    color: var(--color-text-white);
  }

  &__more {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: fluid-size(1, 5);
    padding: 0;
    border: none;
    width: fluid-size(14, 26);
    height: fluid-size(14, 26);
    border-radius: 50%;
    background: #28273A70;
  }

  &__more_number {
    font-size: fluid-size(8, 12);
    color: var(--color-text-white);
  }
}