.container {
  display: flex;
  flex-direction: column;
  gap: fluid-size(12, 20);
  width: 100%;

  @include media-down('sm') {
    width: 100%;
  }
}

.label {
  color: white;
  font-weight: 300;
  font-size: fluid-size(12, 28);
}

.grid {
  display: flex;
  // max-width: 1000px;
  margin: 0 auto;
  gap: fluid-size(8, 16);
  width: 100%;
  justify-items: center;
  justify-content: space-between;
}