.articles {
  margin-bottom: fluid-size(100, 300);

  &__header {
    text-align: center;
    max-width: fluid-size(335, 890);
    margin: 0 auto fluid-size(22, 90);
  }

  &__title {
    font-size: fluid-size(24, 96);
    font-weight: 700;
    color: var(--color-title-white);
    margin-bottom: fluid-size(14, 30);
  }

  &__description,
  &__empty_text {
    font-size: fluid-size(12, 36);
    font-weight: 700;
    line-height: 140%;
    color: var(--color-title-white);
  }

  &__empty {
    padding: 0 20px;
  }

  &__empty_text {
    display: block;
    text-align: center;
  }
}