.button {
  min-width: 200px;
  padding: 0 15px;
  height: 60px;

  &__inner {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 12px;
  }

  &__icon {
    display: inline-flex;
    width: 26px;
    height: 32px;
    color: var(--color-text-primary-700);
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 0 auto;
  }

  &__text {
    font-size: 11.25px;
    font-weight: 600;
    line-height: 16px;
    opacity: 0.3;
    color: var(--color-text-primary-700);
  }

  &__title {
    font-weight: 600;
    font-size: 19px;
    line-height: 24px;
    color: var(--color-text-primary-700);
  }
}