.button {
  border: none;
  border-radius: 30px;
  background: var(--gradient-btn);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;

  &_text {
    min-width: 240px;
    height: 60px;

    & .text {
      font-size: 20px;
      font-weight: 600;
      color: var(--color-text-primary-700)
    }
  }
}