.button {
  border: none;
  border-radius: 30px;
  background: var(--gradient-btn);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;

  &--text {
    min-width: fluid-size(160, 240);
    height: fluid-size(41, 60);
    padding: 5px 19px;
  }

  &__text {
    font-size: fluid-size(16, 20);
    font-weight: 600;
    color: var(--color-text-primary-700)
  }
}