.button {
  border: none;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;

  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &--primary {
    height: fluid-size(41, 60);
    background: var(--gradient-btn);

    .button__content {
      min-width: fluid-size(160, 240);
      padding: 5px 19px;
    }

    .button__text {
      font-size: fluid-size(16, 20);
      font-weight: 600;
      color: var(--color-text-primary-700)
    }
  }

  &--secondary {
    border: 1px solid var(--color-primary-100);
    background: var(--gradient-btn-secondary);
    padding:  0 35px;

    @include media-up(md) {
      min-height: 60px;
    }

    @include media-down(md) {
      min-height: fluid-size(30, 60, 320, 768);
    }

    // .button__content {
    //   min-width: 165px;
    // }

    .button__text {
      font-weight: 600;
      color: var(--color-text-white);

      @include media-up(md) {
        font-size: 20px;
      }

      @include media-down(md) {
        font-size: fluid-size(12, 20, 320, 768);
      }
    }
  }
}