.button {
  position: relative;
  border: none;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0%;
    width: 100%;
    height: 100%;
    background: var(--gradient-btn-hover);
    opacity: 0;
    transition: opacity 0.3s;
    border: none !important;
  }

  &:hover::before {
    opacity: 1;
  }
  
  &__inner {
    position: relative;
  }

  &__content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &--primary {
    height: fluid-size(41, 60);
    background: var(--gradient-btn);
    min-width: fluid-size(160, 240);
    padding: 5px 19px;

    .button__text {
      position: relative;
      font-size: fluid-size(16, 20);
      font-weight: 600;
      color: var(--color-text-primary-700)
    }
  }

  &--secondary {
    outline: 1px solid var(--color-primary-100);
    background: var(--gradient-btn-secondary);
    padding:  0 35px;

    @include media-up(md) {
      min-height: 60px;
    }

    @include media-down(md) {
      min-height: fluid-size(30, 60, 320, 768);
    }

    &:hover {
      outline: none;
    }

    .button__text {
      text-wrap: nowrap;
      font-weight: 600;
      color: var(--color-text-white);

      @include media-up(md) {
        font-size: 20px;
      }

      @include media-down(md) {
        font-size: fluid-size(12, 20, 320, 768);
      }
    }
  }
}