.section {
    margin-bottom: fluid-size(30, 70, 375, 1920);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include media-down('sm') {
        margin-bottom: fluid-size(20, 30, 375, 576);
    }
}

.container {
    display: flex;
    width: 100%;
    max-width: fluid-size(380, 1660, 375, 1920);
    flex-direction: column;
    text-align: start;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 fluid-size(16, 20, 375, 1920);

    @include media-down('sm') {
        padding: 0 fluid-size(12, 16, 375, 576);
    }
}

.backLink {
    display: flex;
    gap: fluid-size(12, 16, 375, 1920);
    align-items: center;
    color: var(--color-text-white);
    text-decoration: none;
    font-size: fluid-size(14, 32, 375, 1920);
    transition: opacity 0.3s ease;
    margin-bottom: fluid-size(10, 24, 375, 1920);

    @include media-down('sm') {
        gap: fluid-size(8, 12, 375, 576);
        font-size: fluid-size(12, 14, 375, 576);
        margin-bottom: fluid-size(8, 10, 375, 576);
    }

    &:hover {
        opacity: 0.7;
    }
}

.title {
    color: var(--color-white);
    font-size: fluid-size(24, 96, 375, 1920);
    margin-bottom: fluid-size(6, 12, 375, 1920);
    font-weight: 700;
    text-align: center;

    @include media-down('sm') {
        font-size: fluid-size(20, 24, 375, 576);
        margin-bottom: fluid-size(4, 6, 375, 576);
    }
}

.description {
    color: var(--color-text-white);
    font-size: fluid-size(14, 32, 375, 1920);
    line-height: 150%;
    margin-bottom: fluid-size(20, 60, 375, 1920);
    text-align: start;

    @include media-down('sm') {
        font-size: fluid-size(12, 14, 375, 576);
        margin-bottom: fluid-size(16, 20, 375, 576);
    }
}

