.section {
  margin-bottom: fluid-size(30, 70, 375, 1920);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @include media-down('sm') {
    margin-bottom: fluid-size(20, 30, 375, 576);
  }
}

.container {
  display: flex;
  width: 100%;
  max-width: fluid-size(380, 1660, 375, 1920);
  flex-direction: column;
  text-align: start;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 fluid-size(16, 20, 375, 1920);

  @include media-down('sm') {
    padding: 0 fluid-size(12, 16, 375, 576);
  }
}