.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}

.button {
  position: relative;
  min-width: 132px;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0%;
    width: 100%;
    height: 100%;
    background: var(--gradient-btn-hover);
    opacity: 0;
    transition: opacity 0.3s;
  }

  &:hover::before {
    opacity: 1;
  }
}