.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: fluid-size(12, 35);
  gap: 50px;

  &__gif {
    width: fluid-size(200, 400);
    height: fluid-size(200, 400);
    overflow: hidden;
    border: 1px solid #CEA0EA;
    border-radius: 50%;
    box-shadow: 0px 0px 9px 2px #D39DDF;
    margin-bottom: 15px;
  }

  &__video {
    object-fit: cover;
  }

  &__info {
    position: relative;
    display: flex;
    flex-direction: column;
  }

  // &__info_image {
  //   width: 100%;
  //   object-fit: contain;
  // }

  &__title {
    z-index: 1;
    text-align: center;
    display: inline-block;
    font-size: fluid-size(20, 64);
    font-weight: 700;
    line-height: 130%;
    background: linear-gradient(90deg, #CDA2EF 0%, #F87A76 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
  }

  &__subtitle {
    z-index: 1;
    text-align: center;
    font-size: fluid-size(12, 20);
    font-weight: 700;
    line-height: 130%;
    color: var(--color-text-white);
  }
}