.container {
  position: relative;
  width: 100%;
  overflow: hidden;
  border: none !important;
  flex: 1;
  height: 100%;
  min-height: 500px;
  overscroll-behavior: contain;
  touch-action: pan-x pan-y;
}

.grab {
  cursor: grab;
}

.dragging {
  cursor: grabbing;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modalContent {
  background: transparent;
  padding: 2rem;
  border-radius: 1rem;
  max-width: 500px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: white;
  z-index: 1001;
}

.modalContent h3 {
  color: white;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
  margin: 0;
  order: 1;
}

.modalContent img {
  max-width: 100%;
  height: auto;
  order: 2;
}

.modalContent p {
  color: white;
  font-size: 1.25rem;
  font-weight: 400;
  text-align: center;
  margin: 0;
  order: 3;
}