.input_wrapper {
  position: relative;
}

.input {
  box-sizing: border-box;
  padding: 0 24px;
  width: 100%;
  height: fluid-size(44, 60);
  border: none;
  border-radius: 30px;
  outline: 1px solid #D4A2F2;
  font-size: fluid-size(12, 20);
  color: var(--color-text-white);
  background: #1F1D2E;

  &::placeholder {
    color: #646095;
  }
}