.progress {
  margin-bottom: fluid-size(15, 25);
  padding: 0 20px;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: fluid-size(5, 15);
  }

  &__step,
  &__percentage {
    font-size: fluid-size(12, 20);
    color: var(--color-text-primary);
  }
}

.bar {
  position: relative;
  width: 100%;
  height: fluid-size(6, 9);
  border-radius: 20px;
  overflow: hidden;
  background: #9BA0DA6B;

  &__progress_wrapper {
    height: 100%;
    overflow: hidden;
    border-radius: inherit;
    transition: width 0.3s;
  }

  &__progress {
    height: 100%;
    background: linear-gradient(90deg, #9C9FDB 0%, #D69EEA 30.77%, #F87777 60.1%, #FEB375 96.15%);
  }
}

