.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  min-height: 50vh;

  &__text {
    font-size: fluid-size(12, 24);
    color: var(--color-text-primary);
  }

  &__spin {
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    box-shadow: 2px 2px 1px var(--color-text-primary);
    animation: spin 1s linear infinite;

    @keyframes spin {
      from {
        transform: rotate(0deg);
      }

      to {
        transform: rotate(360deg);
      }
    }
  }
}
