.container {
  display: flex;
  flex-direction: column;
  gap: fluid-size(12, 20);
  transition: transform 0.3s;
  width: 100%;
  max-width: 100%;
  margin-top: fluid-size(24, 60, 375, 1920);
  box-sizing: border-box;

  @include media-down('sm') {
    margin-top: fluid-size(16, 24, 375, 576);
  }
}

.label {
  color: var(--color-text-white);
  font-size: fluid-size(14, 28);
  font-weight: 300;
}

.chatContainer {
  display: flex;
  flex-direction: column;
  gap: fluid-size(12, 20);
  // max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

.textarea {
  width: 100%;
  padding: fluid-size(12, 20);
  height: fluid-size(120, 300);
  border-radius: fluid-size(12, 30);
  border: 2px solid #D4A2F240;
  font-size: fluid-size(12, 20);
  line-height: 1.5;
  resize: none;
  color: var(--color-text-white);
  background: #1F1D2E;

  &::placeholder {
    font-size: fluid-size(12, 20);
    color: inherit;
    opacity: 0.5;
  }
}

.button {
  transition: all 0.3s;

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(149, 159, 216, 0.4);
  }
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.error {
  padding: 10px 0 0;
  text-align: center;
  transition: opacity 0.3s;
  color: #f55454;

  &__hidden {
    visibility: hidden;
    opacity: 0;
  }
}