.body__icon {
  position: absolute;
  z-index: -1;
  right: 0;
  top: fluid-size(50, 160);
  transform: translateX(50%);
  display: flex;
  width: fluid-size(240, 1000);
  height: fluid-size(240, 1000); 
  color: #646095;
  opacity: 0.3;
}