.privacy {
  margin-bottom: fluid-size(50, 130);

  &__inner {
    max-width: 85%;
    margin: 0 auto;
  }

  &__title {
    font-size: fluid-size(24, 96);
    font-weight: 700;
    margin-bottom: fluid-size(15, 75);
    color:var(--color-title-white);

    & > span {
      display: block;
    }
  }

  &__published {
    font-size: fluid-size(16, 64);
    font-weight: 700;
    margin-bottom: fluid-size(15, 65);
    color:var(--color-title-white);
  }

  &__content {
    color:var(--color-text-white);

    & {
      div {
        margin-bottom: fluid-size(20, 50);
      }

      h2 {
        font-weight: 700;
        font-size: fluid-size(18, 46);
        line-height: 170%;
      }

      h3 {
        font-size: fluid-size(16, 42);
        line-height: 170%;
      }
      
      strong {
        font-weight: 700;
      }

      li {
        font-size: fluid-size(12, 36);
        line-height: 170%;
      }

      ul {
        list-style: inside;
      }
      ol {
        list-style: counter-increment;
        margin-left: fluid-size(20, 43);
      }

      li[data-title] {
        font-size: fluid-size(18, 46);
        font-weight: 700;
        margin-bottom: fluid-size(25, 50);
      }

      ol[data-style-a] {
        list-style-type: lower-alpha;
        & > li {
          margin-bottom: fluid-size(20, 40);
        }
      }

      p, span {
        font-size: fluid-size(12, 36);
        line-height: 170%;
      }

      p, span {
        font-weight: 400;
      }
    } 
  }
}