.faq {
  position: relative;
  padding-bottom: 100px;

  &__inner {
    position: relative;
    width: 90%;
    margin: 0 auto;

    @include media-up('xxl') {
      min-height: 150vh;
    }

    @include media-between('md', 'xxl') {
      min-height: 100vh;
    }

    @include media-down('md') {
      min-height: 60vh;
    }
  }

  &__bg {
    position: absolute;
    bottom: 0;
    pointer-events: none;
    align-self: flex-end;
    width: 100%;

    @include media-up('lg') {
      transform: translateY(31%);
    }

    @include media-between('sm','lg') {
      transform: translateY(40%);
    }

    @include media-down('sm') {
      transform: translateY(43%);
    }
  }

  &__title {
    text-align: center;
    font-size: fluid-size(24, 96); 
    font-weight: 700;
    color: var(--color-title-white);
    margin-bottom: fluid-size(50, 150);
  }

  &__content {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    gap: fluid-size(20, 30);
    max-width: 1000px;
  }
}