.content {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  
  &__title {
    position: relative;
    z-index: 1;
    display: inline-block;
    margin: 0 auto;
    max-width: 60%;
    text-transform: uppercase;
    text-align: center;
    font-size: 24px;
    line-height: 120%;
    font-weight: 700;
    color: var(--color-text-white);
  } 

  &__shadow {
    position: relative;
    display: block;
    width: 100%;
    // height: 1px;
    // background: red;

    &--top {
      box-shadow: 0 10px 12px 23px #1F1D2E;
    }

    &--bottom {
      box-shadow: 0 -5px 12px 23px #1F1D2E;
    }
  }

  &__answers {
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow: auto;
    padding: 50px 20px 40px;
    

    &::-webkit-scrollbar {
      display: none;
    }

    &::-webkit-scrollbar-thumb {
      width: 2px;
    }
  }
}

